@model IEnumerable<GSWPlayerStatTracker.Models.Player>

@{
    ViewData["Title"] = "Player List";
}

<p class="text-center text-decoration-underline">This is the Player Roster with respect to their Teams as alloted by The National Basketball Association for the year 2022.</p>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Player</a>
</p>
<table class="table sortable table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsPerGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsPerGame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                   
                    <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                
                    <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a> |
                    
                    <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
