@model IEnumerable<GSWPlayerStatTracker.Models.Team>

@{
    ViewData["Title"] = "Add Team";
}

<p class="text-center text-decoration-underline">These are the following Teams as listed by the National Basketball Association for 2022.</p>

<p>
    @if (User.IsInRole("Administrator")) {
        <a asp-action="Create" class="btn btn-primary">Add Team</a>
    }
    
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamCreationYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamCreationYear)
            </td>
            <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.TeamId">Edit</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.TeamId">Delete</a>
                    }
                    
                     <a asp-action="Details" class="btn btn-success" asp-route-id="@item.TeamId">Details</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
